<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

    <header layout:fragment="header" th:replace="~{fragments :: myHeader-with-navigation(informat=true, headertext='Format your Java source code')}"></header>

    <main layout:fragment="content">
        <div class="container mt-3">

            <form action="/format" method="post" th:object="${snippet}" >
                <label for="original-code">Source code:</label>
                <textarea class="form-control" rows="6" id="original-code" name="originalCode" th:field="${snippet.originalContent}"></textarea>

                <button name="action" value="format" type="submit" class="btn btn-outline-success btn-lg">Format</button>
                <button name="action" value ="clear" type="submit" class="btn btn-outline-danger btn-lg">Clear</button>

                <hr>

                <label for="formatted-code">Preview:</label>
                <textarea class="form-control" rows="5" id="formatted-code" name="formattedCode" th:text="${snippet.getFormattedContent()}" readonly></textarea>

                <button name="action" value="save" type="submit" class="btn btn-outline-primary btn-lg">Save</button>
            </form>
        </div>
    </main>

</body>
</html>
