<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

    <header layout:fragment="header" th:replace="~{fragments :: myHeader-with-navigation(inhome=true, headertext='Welcome to Java Source Code Formatter')}"></header>

    <main layout:fragment="content">
        <div class="container mt-3">
            <hr>
            <h3>This web application enables you to format your Java code into Google standard.</h3>
            <p>To format your code, navigate to the 'Format' page using the top navigation panel on the screen.
                Once there, you'll be prompted to upload your source code. Make sure to include the entire Java class in your submission.
            <p>
            <p>
                After submitting your code, you'll have the option to store the formatted version within our application for a specified period, lasting up to 90 days.
                If you need to retrieve previously stored code snippets, simply go to the 'Search' page via the navigation panel.
            </p>
            <p>
                To ensure easy retrieval, code snippets are indexed by the unique 'Snipped it' provided by the user before saving the formatted source code.
            </p>
        </div>
    </main>

</body>
</html>
