<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

    <header layout:fragment="header" th:replace="~{fragments :: myHeader-with-navigation(headertext='Save the formatted code snippet in our app')}"></header>

    <main layout:fragment="content">
        <div class="container mt-3">
            <form method="post" th:action="@{/save}" th:object="${expirationDTO}">
                <div class="row">
                    <p>Specify expiration time of formatted code snippet in our database</p>
                    <div class="col">
                        <label for="num-days">Number of days</label>
                            <input type="text" id="num-days" class="form-control" placeholder="Number of days" th:field="${expirationDTO.numDays}">
                    </div>
                    <div class="col">
                        <label for="num-hours">Number of hours</label>
                        <input type="text" id="num-hours" class="form-control" placeholder="Number of hours" th:field="${expirationDTO.numHours}">
                    </div>
                    <div class="col">
                        <label for="num-minutes">Number of minutes</label>
                        <input type="text" id="num-minutes" class="form-control" placeholder="Number of minutes" th:field="${expirationDTO.numMinutes}">
                    </div>
                    <div class="col">
                        <label for="num-seconds">Number of seconds</label>
                        <input type="text" id="num-seconds" class="form-control" placeholder="Number of seconds" th:field="${expirationDTO.numSeconds}">
                    </div>
                </div>

                <label for="snippet-id">Enter snippet id</label>
                <input id="snippet-id" type="text" class="form-control" placeholder="Snippet id" name="snippetId">

                <button type="submit" class="btn btn-outline-primary btn-lg">Save</button>
            </form>
        </div>
    </main>

</body>
</html>
