<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

    <header layout:fragment="header" th:replace="~{fragments :: myHeader-with-navigation(insearch=true, headertext='Search for stored code snippet')}"></header>



    <main layout:fragment="content">
        <div class="container mt-3">

            <form method="post" action="/search">

                <p>Enter snippet id</p>
                <input th:if="${snippet}" type="text" class="form-control" th:placeholder="${snippetId}" name="snippetId">
                <input th:unless="${snippet}" type="text" class="form-control" placeholder="Snippet id" name="snippetId">

                <button type="submit" class="btn btn-outline-primary btn-lg">Search</button>
            </form>

            <div th:if="${snippet}">
                <hr>
                <label for="formatted-code">Preview of formatted snippet:</label>
                <textarea class="form-control" rows="5" id="formatted-code" name="formatted-code" readonly th:text="${snippet.formattedContent}"></textarea>
            </div>

        </div>
    </main>

</body>
</html>
